.hero {
  height: 280px;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 20px;
}
.one,
.two,
.three {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  margin-top: 10px;
  height: 170px;
  width: 170px;
}
.header{
  font-size: 1.5rem;
  font-weight: 500;
}
.button{
  height: 40px;
  width: 140px;
  border-radius: 10px;
  font-size: 1rem;
}