.coursesBox{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .coursesBox{
    gap: 2rem;
  }
}